{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">

    <div class="product-detail">

        <img src="{% static 'images/'|add:product.image %}" alt="{{ product.name }}">

        <div class="product-info">

            <h1>{{ product.name }}</h1>

            <h3>{{ product.category }}</h3>

            <p class="price">₹{{ product.price }}</p>

            <p>{{ product.description }}</p>

            <a href="{% url 'add_to_cart' product.id %}">
                <button>Add to Cart</button>
            </a>

        </div>

    </div>

</div>

{% endblock %}